.text-field {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  padding: 12px 24px;
  align-items: center;
  gap: 32px;
  border-radius: 4px;
  border-bottom: 0.2px solid var(--Neutral-500, #64748b);
  background: var(--Shades-White, #fff);
}
