{
  "root": true,
  "extends": ["eslint:recommended", "prettier"],
  "rules": {
    "arrow-body-style": "off",
    "arrow-parens": "off",
    "consistent-return": "off",
    "func-names": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "no-console": "off",
    "no-restricted-globals": "off",
    "no-unexpected-multiline": "off",
    "no-use-before-define": "off",
    "no-var-requires": "off",
    "no-unused-vars": "off",
    "quotes": "off"
  }
}
