/* AddTeamMemberModal.css */

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350;
  background-color: background-paper;
  border: none;
  box-shadow: 24;
  padding: 4;
}

.add-member {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
  width: 100%;
}

.add-member > * {
  width: 100%;
}
